/* * {
    border: 1px solid black;
}
 */
/* #weatherInfo {
    display: none;
} */


#forecastList{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    height: 64px;
    width: 64px;
/*     filter: brightness(0) saturate(100%) invert(100%) sepia(51%) saturate(313%) hue-rotate(203deg) brightness(114%) contrast(93%);;
 */}
